## .NET / ASP.NET Core / Blazor

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Build results
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/
*.sln.iml

# JetBrains
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Publish
**/publish/
**/PublishProfiles/

# dotnet tool
.config/dotnet-tools.json

# Secrets locales (descomenta si contienen datos reales)
# appsettings.Development.json
# appsettings.Test.json
